<div *ngIf = isEmpolyeeList>

    <div class="employee-list-container">
        <h2>Employee List</h2>
        <h3>Current Employees</h3>
      
        <div *ngFor="let employee of employees" class="employee-card" [class.swiped]="employee.swiped">
          <div class="employee-info" (click)="swipeLeft(employee)">
            <h4 class="employee-name">{{ employee.name }}</h4> 
            <p class="employee-role">{{ employee.role }}</p>
            <p class="employee-dates">
              From {{ employee.formattedStartDate | date: 'dd MMM, yyyy' }} 
              to {{ employee.formattedEndDate | date: 'dd MMM, yyyy' }}
            </p>
          </div>
          <div  class="action-buttons"  *ngIf="employee.swiped" >
          <button class="edit-button" (click)="editEmployee(employee)">
            <mat-icon color="primary" >edit</mat-icon>
            </button>
          <button class="delete-button" (click)="deleteEmployee(employee.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div> 
        </div>
      </div>

      <div style="display: flex; justify-content: space-between; ">
        <button mat-raised-button color="primary" (click)="AddEmpolyee()">+</button>
</div>

</div>
<div *ngIf ="isEmployeeDetails">
    <app-employee-details (clickmethod)="clickmethod1($event)" [editingEmployeeId]="editingEmployeeId"></app-employee-details>
    </div>


<router-outlet></router-outlet>
